<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="top-border">
    <%= form.textarea :content, class: 'small-textarea-field-with-border',
    data: {controller: "tweet-length", action: "input -> tweet-length#countTweetChars" } %>
    <div class="status-bar">
      <span id="char-count"></span>
    </div>
  </div>
  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, accept: "image/*", class: "file-input" %>
    <% if tweet.image.representable? %>
      <div class="image-preview">
        <%= image_tag main_app.url_for(tweet.image), class: "mini-thumbnail" %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit "Save", class: 'grey-button' %>
  </div>
<% end %>
<div>
  <%= button_to "Delete tweet", tweet, method: :delete, form: { data: { turbo_confirm: 'Delete tweet?',
                                                                        turbo_confirm_confirm_label: "Yes, delete",
                                                                        turbo_confirm_cancel_label: "No, go back" } },
                                                        class: "danger-button" %>
</div>
