<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="top-space-1">

    <% if tweet.is_lead_tweet? %>
      <%= form.submit "Post to Twitter" %>
    <% end %>
    <%= form.submit "Save" %>
  </div>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content, class: 'small-textarea-field-with-border' %>
  </div>
<% end %>
