<%= turbo_stream.replace @tweet do %>
  <%= turbo_frame_tag @tweet do %>
    <div class="top-border bottom-space-point-5">
      <%= render partial: "tweet", locals: { tweet: @tweet } %>       
    </div>
      <div class="flex-left-gap-point-5 bottom-space-point-5 top-space-point-5">
        <%= link_to "Edit", edit_tweet_path(@tweet), class: "grey-button-small" %>
        <%= button_to "Add tweet below", publisher_tweets_path(@tweet.publisher), params: {tweet: {publisher_id: @tweet.publisher, thread_id: @tweet.thread}, previous_tweet_id: @tweet.id}, method: :post, class: "grey-button-small" %>
      </div>
  <% end %>
<% end %>